/.idea/misc.xml
/.idea/workspace.xml
/out
/Website Database Tool.iml
/connection.properties
/zzzzbad connection.properties
/src/todo
/src/changes
/connection_coms363.properties
/website database tool icon.psd
/.gitignore